*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.image{
  width:100px;
  height:100px;
  background-size: 100% ;
  background-repeat: no-repeat;
}
.App{
  width:100vw;
  padding: 0px  5vw;;
  .categories{
    display:grid;
    grid-auto-flow: column;
    
    width:100%;
    height:  150px;
    margin-top: 5vw;
    overflow-x: scroll;
  }
  .products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 5vw;
    padding: 0 10vw;
    .product{
      .qty{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}